<div class="container">
  <div class="row">
    <app-users></app-users>
  </div>
  <hr />

  <div class="row">
    <app-game-control (startEvent)="startEvent($event)"></app-game-control>
    <div class="col w-100">
      <div class="row">
        <app-even [evenEvent]="evenNumber"></app-even>
        <app-odd [oddEvent]="oddNumber"></app-odd>
      </div>
    </div>
  </div>
  <hr />

  <div class="row">
    <div class="col result">
      <label for="">Username:</label> {{username}}
    </div>
  </div>
  <div class="row">
    <div class="col">
      
      <input [(ngModel)]="username" />
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <button [disabled]="!username" (click)="username = username" type="button" class="btn btn-primary">Add
        username</button>
    </div>
    <div class="col-md-4">
      <button type="button" class="btn btn-primary" [disabled]="!username" (click)="username = ''">Reset</button>
    </div>
  </div>
  <hr />

  <div class="row">
    <div class="col">
      <input [(ngModel)]="detailInput" />
      <button [disabled]="!detailInput" (click)="add()">Add Details</button>
      <button (click)="changeBackground()">Color Toggle</button>
      <ul *ngFor="let item of detailList; let i = index">
        <li
          [ngStyle]="{backgroundColor: (i >= 5) && isGreen ? 'green' : 'transparent', color: (i >= 5) && isGreen ? 'white' : 'black'}">
          {{item}}</li>
      </ul>
    </div>
  </div>
</div>